/* Variables */
$global_edge_padding: 15px;


/* Site mixins */




/* Glyphs */
$font_glyphs: 'icomoon';

$icon_home: "\e000";
$icon_cart: "\e002";
$icon_map: "\e003";
$icon_user: "\e004";
$icon_config: "\e005";
$icon_menu: "\e006";
$icon_checkmark: "\e007";
$icon_close: "\e008";
$icon_plus: "\e009";
$icon_refresh: "\e00a";
$icon_rss: "\e00b";
$icon_facebook: "\e00c";
$icon_twitter: "\e00d";
$icon_trash: "\e00e";
$icon_edit: "\e00f";
$icon_doc: "\e010";

@mixin icon ($content) {
	font-family: $font_glyphs;
	content: $content;
}

@mixin iconReplace($iconSize, $content) {
    position: relative;
    display: block;
    margin: 0;
    padding: 0 0 0 ($iconSize*1.3);
    width: ($iconSize*1.3);
    height: ($iconSize*1.3);
    text-indent: 100%;
    overflow: hidden;
    text-decoration: none;
    line-height: $iconSize;

    &:before {
        position: absolute;
        top: 50%;
        margin-top: -($iconSize/2);
        left: 50%;
        margin-left: -($iconSize/2);
        display: block;
        width: $iconSize;
        height: $iconSize;
        content: $content;
        font-family: $font_glyphs;
        font-size: $iconSize;
        text-indent: 0;
    }
}



/* Responsive */
$size_small_max: 480px;
$size_medium_max: 760px;
$size_large_max: 1120px;


@mixin size($size) {
    @if $size == xlarge {
        @media all and (min-width: $size_large_max) { @content; }
    }
    @else if $size == largeonly {
        @media all and (min-width: $size_medium_max) and ($size_large_max) { @content; }
    }
    @else if $size == large {
        @media all and (min-width: $size_medium_max) { @content; }
    }
    @else if $size == medium {
        @media all and (min-width: $size_small_max) { @content; }
    }
    @else if $size == mediumonly {
        @media all and (min-width: $size_small_max) and (max-width: $size_medium_max) { @content; }
    }
    @else if $size == smallonly {
        @media all and (max-width: $size_small_max) { @content; }
    }
}




/* Utility */

@mixin clearhide {
    display:block;
    overflow:hidden;
    width:100%;
}


@mixin clear {
    &:after {
       content: "";
       display: table;
       clear: both;                  
    }
}

@mixin clean {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin cleanbutton {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: none;
    border-radius: 0;
    border: solid 1px #ccc;
    background: none;
}

@mixin edgebox($ptop, $pbottom) {
    padding-left: $global_edge_padding;
    padding-right:  $global_edge_padding;
    padding-top: $ptop;
    padding-bottom: $pbottom;
}

@mixin offsite {
    position:absolute;
    top:0;
    left:-9999px;
}

@mixin onsite {
    position: relative;
    top: 0;
    left: 0;
}
