/* Base Variables */



/* Base Mixins */
@mixin button($bg, $fg) {
    @include inputreset;
    border: solid 1px #ccc;
    border-radius: 3px;
    background-color:$bg;
    border-color:darken($bg, 20%);
    color:$fg;
    text-decoration: none;
    text-align: center;
    padding: .4em 1.2em;
    display: inline;
}

@mixin font($name) {
    font-family: $name, arial, helvetica, sans-serif;
    font-weight: normal;
}



/* Shortcut Extensions */
@mixin clear {
    &:after {
       content: "";
       display: table;
       clear: both;                  
    }
}

@mixin clean {
    padding: 0;
    margin: 0;
    list-style: none;
}

@mixin inputreset {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    border: none;
    border-radius: 0;
    border: solid 1px #ccc;
    background: none;
}

@mixin toolbar {
    @include clear;

    li {
        float: left;

        &.active {
            font-weight: bold;
        }
    }
}

@mixin offsite {
    position:absolute;
    top:0;
    left:-9999px;
}

@mixin onsite {
    position: relative;
    top: 0;
    left: 0;
}


/* Module includes */
@import "_fonts.scss";
@import "_rwd.scss";