@import '_vars.scss';

#layout, #layout-header, #layout-content, #layout-footer {
	@include clear;
}

#layout {
	background-color: #fff;
	max-width: $size_large_max;

	@include size(xlarge) {
		margin-left: 5%;
	}
}

#layout-header {
	background-color: #333;
	color: #fff;
	
	@include size(smallonly) {
		ul.menu {
			@include offsite;
		}
	}
	
	h1 {
		font-size: 2.6rem;
		color: #fff;
		float: left;
		margin-left: $var_edgepadding;
		padding-top: 8px;
	}
	
	ul.menu {
		@include clear;
		
		li {
			float: left;
		}
	}	
}

#topmenu {
	@include clear;
	padding: 8px 0;
	background-color: #009;
	
	@include size(medium) {
		background-color: #333;
		
		.menu {
			padding-top: 8px;
			font-size: 1.3rem;
		}
	}

	ul {
		float: right;
		margin-right: $var_edgepadding;
		
		li {
			float: left;
			padding-left: 15px;
			
			a {
				color: #fff;
			}
			
			@include size(medium) {
				a {
					padding-top: 8px;
					color: #ccc;
				}
			}
			
			&.options a {
				@include iconReplace(3rem, $icon_menu);
			}
			
			&.account a {
				@include iconReplace(3rem, $icon_user);
			}
		}
	}
}


#mainmenu {
	background-color: #009;
	border-bottom: solid 1px #333;
	
	ul {
		li {
			width: 20%;
			text-align: center;
			
			a {
				color: #fff;
				padding:.8em 0;
				display: block;
				border-right: solid 1px #333;
			}
		}
	}

}



#layout-content {


}


#layout-footer {
	background-color: #000;
	color: #999;
}